*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#closePage{
    float: right;
    margin:1% 0 2% 5%;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    transition: 0.5s;
    color: black;
    cursor: pointer;
    position: relative;
}

#imagem {
    background-image: url("/img/earth-11015_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#grupoform, h2{
    font-family: bold;
    color: white;
}
